<ng-template
  let-currentSlide
  [ngTemplateOutletContext]="{ $implicit: currentSlide | async }"
  [ngTemplateOutlet]="currentSlideT"
  #currentSlideT
>
  <div *ngIf="currentSlide">
    <ul class="uk-breadcrumb">
      <li>
        <a [routerLink]="['/admin/slide/enabled/list', currentSlide.backPath]"
          >Atrás</a
        >
      </li>
      <li>
        <span>{{ currentSlide.name || '--' }}</span>
      </li>
    </ul>
  </div>
</ng-template>

<div *ngIf="(slides | async); else loaderT">
  <ng-template
    let-slideList
    [ngTemplateOutletContext]="{ $implicit: slides | async }"
    [ngTemplateOutlet]="slidesT"
    #slidesT
  >
    <div *ngIf="slideList; else loaderT">
      <div *ngIf="slideList.length > 0; else notFoundT">
        <mat-accordion>
          <mat-expansion-panel
            role="slide"
            *ngFor="let slide of slideList"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> {{ slide.name || '--' }} </mat-panel-title>
              <mat-panel-description>
                {{ slide.createdAt.toDate() | date }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <div align="right" class="uk-margin-small">
                <span *ngIf="filter === 'list'">
                  <a
                    *ngIf="slide.type === 'folder'"
                    [routerLink]="[
                      '/admin/slide/enabled/list',
                      slide.customPath
                    ]"
                    class="uk-text-success"
                    >Archivos</a
                  >
                  &nbsp;
                  <a
                    [routerLink]="[
                      '/admin/slide/form/edit-slide',
                      slide.customPath
                    ]"
                    class="uk-text-primary"
                    >Editar</a
                  >
                  &nbsp;
                  <!-- <span
                *ngIf="slide.blocked"
                class="uk-text-warning uk-text-bold"
                >{{ slide.blocked ? 'Blocked' : '' }}</span
              >
              <a
                class="uk-text-warning"
                (click)="onBlockSlide(slide.customPath, slide)"
                *ngIf="!slide.blocked"
                >Bloquear</a
              >
              &nbsp; -->
                  <span
                    *ngIf="slide.deleted"
                    class="uk-text-warning uk-text-bold"
                    >{{ slide.deleted ? 'Eliminado' : '' }}</span
                  >
                  <a
                    class="uk-text-danger"
                    (click)="onDeleteSlide(slide)"
                    *ngIf="!slide.deleted"
                    >Eliminar</a
                  >
                </span>
                <span *ngIf="filter === 'blocked'">
                  <a
                    class="uk-text-warning uk-text-bold"
                    (click)="onUnBlockSlide('|enabled|' + slide.uuid, slide)"
                    >Desbloquear</a
                  >
                </span>
                <span *ngIf="filter === 'deleted'">
                  <a
                    class="uk-text-danger uk-text-bold"
                    (click)="onUnBlockSlide('|enabled|' + slide.uuid, slide)"
                    >Recuperar</a
                  >
                </span>
              </div>
              <div *ngIf="slide.type !== 'folder'">
                <a
                  [href]="slide.url"
                  target="{{ slide.externalURL === true ? '_blank' : '_self' }}"
                >
                  <img
                    *ngIf="slide.image"
                    [src]="slide.image"
                    [alt]="slide.text"
                    [title]="slide.text"
                  />
                  <span *ngIf="!slide.image">{{ slide.text }}</span>
                </a>
                <div class="uk-margin">
                  <b>Título:</b>
                  &nbsp;
                  <span>{{ slide.text }}</span>
                </div>
                <div class="uk-margin">
                  <b>Sub Título:</b>
                  &nbsp;
                  <span>{{ slide.subtitle }}</span>
                </div>
                <div class="uk-margin">
                  <b>URL:</b>
                  &nbsp;
                  <span>{{ slide.url }}</span>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </ng-template>
</div>
<ng-template #loaderT> <h2>Cargando...</h2> </ng-template>
<ng-template #notFoundT><h2>No hay datos</h2> </ng-template>
