<td-message
  *ngIf="message.show"
  [label]="message.label"
  [sublabel]="message.sublabel"
  [color]="message.color"
  [icon]="message.icon"
  class="uk-margin"
></td-message>

<div *ngIf="action === 'add' && path">
  <h3>Agregando submenu en {{ menu ? menu.text : 'Principal' }}</h3>
</div>

<tnt-barn-form
  [formGroup]="form"
  (submitting)="onSubmitting($event)"
  (submitted)="onSubmitted($event)"
>
  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #text
      placeholder="Título"
      id="text"
      name="text"
      formControlName="text"
    />
  </mat-form-field>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #link
      placeholder="URL"
      id="link"
      name="link"
      formControlName="link"
    />
  </mat-form-field>

  <div class="uk-width-1-1 uk-margin-small">
    <section>
      <mat-slide-toggle
        color="accent"
        formControlName="blocked"
        name="blocked"
        required
        #blocked
      >
        Blocked
      </mat-slide-toggle>
    </section>
  </div>

  <div class="uk-width-1-1 uk-margin-small">
    <section>
      <mat-slide-toggle
        color="warn"
        formControlName="deleted"
        name="deleted"
        required
        #deleted
      >
        Deleted
      </mat-slide-toggle>
    </section>
  </div>

  <mat-divider></mat-divider>

  <mat-card-actions align="right" class="uk-margin-small">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="submitted"
    >
      Save
    </button>
  </mat-card-actions>
</tnt-barn-form>
