<div class="uk-section uk-section-secondary uk-light">
  <div class="uk-container">
    <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
      <div>
        <h4 class="uk-text-muted">Enlaces</h4>
        <ul class="uk-list">
          <li>
            <a routerLink="/">Inicio</a>
          </li>
          <li>
            <a routerLink="/esal">Documentos permanecia ESAL</a>
          </li>
        </ul>
      </div>
      <div>
        <p></p>
      </div>
      <div>
        <h4 class="uk-text-muted">Siguenos en</h4>
        <div class="uk-clearfix">
          <!--a href="" class="uk-icon-button uk-margin-small-right" uk-icon="twitter"></a-->
          <a
            href="https://www.facebook.com/Teatro-juete-400769913407961/"
            target="_blank"
            class="uk-icon-button  uk-margin-small-right"
            uk-icon="facebook"
          ></a>
          <!--a href="" class="uk-icon-button" uk-icon="google-plus"></a-->
        </div>
        <p class="uk-text-muted">
          &copy; Todos los derechos reservados.
        </p>
      </div>
    </div>
  </div>
</div>
