<td-message
  *ngIf="message.show"
  [label]="message.label"
  [sublabel]="message.sublabel"
  [color]="message.color"
  [icon]="message.icon"
  class="uk-margin"
></td-message>
<tnt-barn-form
  [formGroup]="form"
  (submitting)="onSubmitting($event)"
  (submitted)="onSubmitted($event)"
>
  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #name
      placeholder="Nombre"
      id="name"
      name="name"
      formControlName="name"
    />
  </mat-form-field>

  <app-file-upload
    [imageURL]="page && page.image"
    allowed_extensions="image/*"
    (filesChanged)="onFilesChanged($event)"
  >
    <div><mat-icon>cloud_upload</mat-icon></div>
    <p>Arrastre una imagen aquí.</p>
    <div align="center">
      <button mat-raised-button>Seleccionar</button>
    </div>
    <ng-template
      let-fileUploaded
      [ngTemplateOutletContext]="{ $implicit: fileUploaded | async }"
      [ngTemplateOutlet]="fileUploadedT"
      #fileUploadedT
    >
      <ng-template
        let-uploadPercent
        [ngTemplateOutletContext]="{
          $implicit: fileUploaded?.percent | async
        }"
        [ngTemplateOutlet]="uploadPercentT"
        #uploadPercentT
      >
        <mat-form-field class="uk-width-1-1">
          <input matInput formControlName="image" class="uk-hidden" />
          <mat-hint
            align="end"
            [ngClass]="{
              'uk-text-warning': (uploadPercent || 0) < 100,
              'uk-text-emphasis': (uploadPercent || 0) >= 100
            }"
          >
            {{ (uploadPercent | number: '1.0-0') || 0 }}%
          </mat-hint>
        </mat-form-field>
        <mat-progress-bar
          mode="determinate"
          [value]="uploadPercent"
        ></mat-progress-bar>

        <div
          *ngIf="uploadPercent >= 100 || (page && page.image)"
          class="uk-text-center"
        >
          <a
            href="javascript:;"
            class="uk-text-success"
            (click)="goTo(page?.image || f.image.value, $event)"
            >Archivo subido</a
          >
        </div>
      </ng-template>
    </ng-template>
  </app-file-upload>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #postedAt
      placeholder="Fecha de publicación"
      id="postedAt"
      name="postedAt"
      (dateChange)="onDateChanged($event)"
      formControlName="postedAt"
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #text
      placeholder="Título"
      id="text"
      name="text"
      formControlName="text"
      (change)="onPathChanged($event)"
    />
  </mat-form-field>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #url
      placeholder="Ruta"
      id="url"
      name="url"
      formControlName="url"
    />
  </mat-form-field>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #descriptio
      placeholder="Descripción"
      id="description"
      name="description"
      formControlName="description"
    />
  </mat-form-field>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #keywords
      placeholder="Palabras clave"
      id="keywords"
      name="keywords"
      formControlName="keywords"
    />
  </mat-form-field>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <textarea
      matInput
      #content
      id="content"
      name="content"
      #froalaEditor
      [froalaEditor]="optionsEditor"
      formControlName="content"
    ></textarea>
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-card-actions align="right" class="uk-margin-small">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="submitted"
    >
      Guardar
    </button>
  </mat-card-actions>
</tnt-barn-form>
