<td-message *ngIf="message.show" [label]="message.label" [sublabel]="message.sublabel" [color]="message.color" [icon]="message.icon" class="uk-margin"></td-message>
<tnt-barn-form
  [formGroup]="form"
  (submitting)="onSubmitting($event)"
  (submitted)="onSubmitted($event)"
>
  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #email
      type="email"
      placeholder="E-mail"
      id="email"
      name="email"
      formControlName="email"
    />
    <mat-error *ngIf="f.email.hasError('required')">
      E-mail is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="f.email.hasError('email')">
      E-mail is <strong>wrong</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #password
      type="password"
      placeholder="Password"
      id="password"
      name="password"
      formControlName="password"
    />
    <mat-error *ngIf="f.password.hasError('required')">
      Password is <strong>required</strong>
    </mat-error>
    <mat-error *ngIf="f.password.hasError('minlength')">
      Password must have more than
      <strong
        >{{ f.password.errors.minlength.requiredLength }} letters</strong
      >
    </mat-error>
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="submitted"
  >
    Sign In
  </button>
</tnt-barn-form>
