<app-layout-admin>
  <div flex-gt-sm="100">
    <mat-card>
      <mat-card-title>Users</mat-card-title>
      <mat-card-subtitle>usage stats for our users</mat-card-subtitle>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div align="right">
          <button
            routerLink="/user/form"
            routerLinkActive="router-link-active"
            mat-raised-button
            color="primary"
          >
            New
          </button>
        </div>
        <br />
        <app-user-list></app-user-list>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <a mat-button color="accent" class="text-upper">
          <span>View More</span>
        </a>
      </mat-card-actions>
    </mat-card>
  </div>
</app-layout-admin>
