<td-message
  *ngIf="message.show"
  [label]="message.label"
  [sublabel]="message.sublabel"
  [color]="message.color"
  [icon]="message.icon"
  class="uk-margin"
></td-message>
<tnt-barn-form
  [formGroup]="form"
  (submitting)="onSubmitting($event)"
  (submitted)="onSubmitted($event)"
>
  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #displayName
      type="text"
      placeholder="Nombre"
      id="displayName"
      name="displayName"
      formControlName="displayName"
    />
    <mat-error *ngIf="f.displayName.hasError('required')">
      Nombre es <strong>requerido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #email
      type="email"
      placeholder="Correo electrónico"
      id="email"
      name="email"
      formControlName="email"
      (change)="onPathChanged($event)"
    />
    <mat-error *ngIf="f.email.hasError('required')">
      Correo electrónico es <strong>requerido</strong>
    </mat-error>
    <mat-error *ngIf="f.email.hasError('email')">
      Correo electrónico es <strong>erroneo</strong>
    </mat-error>
    <mat-error *ngIf="f.email.hasError('pattern')">
      Correo electrónico no es correcto
    </mat-error>
  </mat-form-field>

  <div *ngIf="value">
    <mat-form-field class="uk-width-1-1 uk-margin-small">
      <input
        matInput
        type="text"
        placeholder="Usuario"
        formControlName="username"
        name="username"
        #username
      />
    </mat-form-field>
    <mat-form-field class="uk-width-1-1 uk-margin-small">
      <input
        matInput
        #phoneNumber
        type="tel"
        placeholder="Télefono"
        id="phoneNumber"
        name="phoneNumber"
        formControlName="phoneNumber"
      />
    </mat-form-field>
  </div>
  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      type="password"
      [placeholder]="(value ? 'Actual ' : '') + 'Contraseña'"
      formControlName="password"
      name="password"
      required
      #password
      (change)="addConfirmPassword(password.value)"
    />
    <mat-error *ngIf="f.password.hasError('required')">
      Contraseña es <strong>requerida</strong>
    </mat-error>
    <mat-error *ngIf="f.password.hasError('pattern')">
      Contraseña no es correcta, ejemplo: <strong>(P@ssw0rd)</strong>
    </mat-error>
    <mat-error *ngIf="f.password.hasError('minlength')">
      Requerido mínima longitud de
      <strong>{{ f.password.errors.minlength.requiredLength }}</strong>
    </mat-error>
    <mat-error *ngIf="f.password.hasError('maxlength')">
      Required máxima longitud de
      <strong>{{ f.password.errors.maxlength.requiredLength }}</strong>
    </mat-error>
  </mat-form-field>

  <div *ngIf="!value">
    <mat-form-field class="uk-width-1-1 uk-margin-small">
      <input
        matInput
        type="password"
        placeholder="Confirmar Contraseña"
        formControlName="confirmPassword"
        name="confirmPassword"
        required
        #confirmPassword
      />
      <mat-error *ngIf="f.confirmPassword.hasError('required')">
        Confirmar Contraseña es <strong>requerida</strong>
      </mat-error>
      <mat-error *ngIf="f.confirmPassword.hasError('notMatched')">
        Confirmar Contraseña no <strong>coincide</strong>
      </mat-error>
      <mat-error *ngIf="f.confirmPassword.hasError('pattern')">
        Confirmar Contraseña no es correcta, ejemplo:
        <strong>(P@ssw0rd)</strong>
      </mat-error>
      <mat-error *ngIf="f.confirmPassword.hasError('minlength')">
        Requerido mínima longitud de
        <strong>{{ f.confirmPassword.errors.minlength.requiredLength }}</strong>
      </mat-error>
      <mat-error *ngIf="f.confirmPassword.hasError('maxlength')">
        Required máxima longitud de
        <strong>{{ f.confirmPassword.errors.maxlength.requiredLength }}</strong>
      </mat-error>
    </mat-form-field>
  </div>

  <mat-divider></mat-divider>
  <mat-card-actions align="right" class="uk-margin-small">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="submitted"
    >
      Guardar
    </button>
  </mat-card-actions>
</tnt-barn-form>
