<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<ng-template #default>
  <app-layout-default [authenticated]="authenticated | async">
    <div *ngIf="config.project.layout === 'default'">
      <ng-container [ngTemplateOutlet]="content"> </ng-container>
    </div>
  </app-layout-default>
</ng-template>
<ng-template #disabled>
  <app-layout-disabled>
    <div *ngIf="config.project.layout === 'disabled'">
      <ng-container [ngTemplateOutlet]="content"> </ng-container>
    </div>
  </app-layout-disabled>
</ng-template>
<ng-template #corpayande>
  <app-layout-corpayande>
    <div *ngIf="config.project.layout === 'corpayande'">
      <ng-container [ngTemplateOutlet]="content"> </ng-container>
    </div>
  </app-layout-corpayande>
</ng-template>
<ng-template #teatroJuete>
  <app-layout-teatro-juete>
    <div *ngIf="config.project.layout === 'teatroJuete'">
      <ng-container [ngTemplateOutlet]="content"> </ng-container>
    </div>
  </app-layout-teatro-juete>
</ng-template>
<ng-template #pijaoscaciques>
  <app-layout-pijaoscaciques>
    <div *ngIf="config.project.layout === 'pijaoscaciques'">
      <ng-container [ngTemplateOutlet]="content"> </ng-container>
    </div>
  </app-layout-pijaoscaciques>
</ng-template>

<ng-container [ngTemplateOutlet]="templates[config?.project.layout]"> </ng-container>

<!-- ADMIN MENU -->

<div
  class="uk-position-fixed uk-position-z-index uk-position-bottom-right uk-padding"
  *ngIf="(authenticated | async)"
>
  <div id="admin-options" class="uk-animation-slide-bottom-medium">
    <div class="uk-margin-small uk-flex uk-flex-center">
      <button
        type="button"
        mat-mini-fab
        routerLink="/admin/file/enabled"
        uk-tooltip="title: Folder; pos: left"
      >
        <mat-icon aria-label="Folder">folder</mat-icon>
      </button>
    </div>
    <div class="uk-margin-small uk-flex uk-flex-center">
      <button
        type="button"
        mat-mini-fab
        routerLink="/admin/menu/enabled"
        uk-tooltip="title: Menus; pos: left"
      >
        <mat-icon aria-label="Menus">menu</mat-icon>
      </button>
    </div>
    <div class="uk-margin-small uk-flex uk-flex-center">
      <button
        type="button"
        mat-mini-fab
        routerLink="/admin/slide/enabled"
        uk-tooltip="title: Slides; pos: left"
      >
        <mat-icon aria-label="Slides">slideshow</mat-icon>
      </button>
    </div>
    <div class="uk-margin-small uk-flex uk-flex-center">
      <button
        type="button"
        mat-mini-fab
        routerLink="/admin/page/enabled"
        uk-tooltip="title: Páginas; pos: left"
      >
        <mat-icon aria-label="Páginas">insert_drive_file</mat-icon>
      </button>
    </div>
    <div class="uk-margin-small uk-flex uk-flex-center">
      <button
        type="button"
        mat-mini-fab
        routerLink="/admin/user/enabled"
        uk-tooltip="title: Usuarios; pos: left"
      >
        <mat-icon aria-label="Usuarios">people</mat-icon>
      </button>
    </div>
    <div class="uk-margin-small uk-flex uk-flex-center">
      <button
        type="button"
        mat-mini-fab
        color="warn"
        uk-tooltip="title: Logout; pos: left"
        (click)="signOut()"
      >
        <mat-icon aria-label="Logout">exit_to_app</mat-icon>
      </button>
    </div>
  </div>
  <div class="uk-margin-small">
    <button
      type="button"
      mat-fab
      uk-tooltip="title: Opciones; pos: left"
      uk-toggle="target: #admin-options"
    >
      <mat-icon aria-label="Opciones">build</mat-icon>
    </button>
  </div>
</div>

<!-- /ADMIN MENU -->
