<app-layout-admin>
  <div flex-gt-sm="100">
    <div class="uk-container">
      <mat-card>
        <mat-card-title>Trash</mat-card-title>
        <mat-card-subtitle>usage stats for our trash</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
          <ul class="uk-list">
            <li><a routerLink="/user/list/deleted">Usuarios Eliminados</a></li>
            <li><a routerLink="/page/list/deleted">Páginas Eliminadas</a></li>
            <li><a routerLink="/slide/list/deleted">Slides Eliminados</a></li>
            <li><a routerLink="/menu/list/deleted">Menus Eliminados</a></li>
          </ul>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-layout-admin>
