<td-message
  *ngIf="message.show"
  [label]="message.label"
  [sublabel]="message.sublabel"
  [color]="message.color"
  [icon]="message.icon"
  class="uk-margin"
></td-message>

<tnt-barn-form
  [formGroup]="form"
  (submitting)="onSubmitting($event)"
  (submitted)="onSubmitted($event)"
>
  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #name
      placeholder="Nombre"
      id="name"
      name="name"
      formControlName="name"
    />
  </mat-form-field>

  <app-file-upload
    [imageURL]="image.value"
    allowed_extensions="image/*"
    (filesChanged)="onFilesChanged($event)"
  >
    <div><mat-icon>cloud_upload</mat-icon></div>
    <p>Arrastre su foto de perfíl aquí.</p>
    <mat-form-field>
      <div align="center">
        <button mat-raised-button>Seleccionar</button>
        <input matInput #image formControlName="image" style="display: none" />
      </div>
      <mat-error *ngIf="f.image.status === 'INVALID'">
        <span *ngFor="let error of errors('image')">{{
          errorMessages['image'][error]
        }}</span>
      </mat-error>
    </mat-form-field>
  </app-file-upload>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #text
      placeholder="Título"
      id="text"
      name="text"
      formControlName="text"
    />
  </mat-form-field>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #subtitle
      placeholder="Subtítulo"
      id="subtitle"
      name="subtitle"
      formControlName="subtitle"
    />
  </mat-form-field>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #url
      placeholder="URL"
      id="url"
      name="url"
      formControlName="url"
    />
  </mat-form-field>

  <div class="uk-width-1-1 uk-margin-small">
    <section>
      <mat-slide-toggle
        color="accent"
        formControlName="externalURL"
        name="externalURL"
        required
        #externalURL
      >
        Abrir URL en otra ventana
      </mat-slide-toggle>
    </section>
  </div>

  <mat-divider></mat-divider>

  <mat-card-actions align="right" class="uk-margin-small">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="submitted"
    >
      Guardar
    </button>
  </mat-card-actions>
</tnt-barn-form>
