<ng-template
  let-currentFile
  [ngTemplateOutletContext]="{ $implicit: currentFile | async }"
  [ngTemplateOutlet]="currentFileT"
  #currentFileT
>
  <div *ngIf="currentFile">
    <ul class="uk-breadcrumb">
      <li>
        <a [routerLink]="['/admin/file/enabled/list', currentFile.backPath]"
          >Atrás</a
        >
      </li>
      <li>
        <span>{{ currentFile.text || '--' }}</span>
      </li>
    </ul>
  </div>
</ng-template>

<div *ngIf="(files | async); else loaderT">
  <ng-template
    let-fileList
    [ngTemplateOutletContext]="{ $implicit: files | async }"
    [ngTemplateOutlet]="filesT"
    #filesT
  >
    <div *ngIf="fileList; else loaderT">
      <div *ngIf="fileList.length > 0; else notFoundT">
        <mat-accordion>
          <mat-expansion-panel
            role="file"
            *ngFor="let file of fileList"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> {{ file.text || '--' }} </mat-panel-title>
              <mat-panel-description>
                {{ file.createdAt.toDate() | date }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <div align="right" class="uk-margin-small">
                <span *ngIf="filter === 'list'">
                  <a
                    *ngIf="file.type === 'folder'"
                    [routerLink]="['/admin/file/enabled/list', file.customPath]"
                    class="uk-text-success"
                    >Archivos</a
                  >
                  &nbsp;
                  <a
                    [routerLink]="[
                      '/admin/file/form/edit-' +
                        (file.type === 'folder' ? file.type : 'file'),
                      file.customPath
                    ]"
                    class="uk-text-primary"
                    >Editar</a
                  >
                  &nbsp;
                  <!-- <span
                *ngIf="file.blocked"
                class="uk-text-warning uk-text-bold"
                >{{ file.blocked ? 'Blocked' : '' }}</span
              >
              <a
                class="uk-text-warning"
                (click)="onBlockFile(file.customPath, file)"
                *ngIf="!file.blocked"
                >Bloquear</a
              >
              &nbsp; -->
                  <span
                    *ngIf="file.deleted"
                    class="uk-text-warning uk-text-bold"
                    >{{ file.deleted ? 'Eliminado' : '' }}</span
                  >
                  <a
                    class="uk-text-danger"
                    (click)="onDeleteFile(file)"
                    *ngIf="!file.deleted"
                    >Eliminar</a
                  >
                </span>
                <span *ngIf="filter === 'blocked'">
                  <a
                    class="uk-text-warning uk-text-bold"
                    (click)="onUnBlockFile('|enabled|' + file.uuid, file)"
                    >Desbloquear</a
                  >
                </span>
                <span *ngIf="filter === 'deleted'">
                  <a
                    class="uk-text-danger uk-text-bold"
                    (click)="onUnBlockFile('|enabled|' + file.uuid, file)"
                    >Recuperar</a
                  >
                </span>
              </div>
              <div *ngIf="file.type !== 'folder'">
                <a
                  [href]="file.url"
                  target="{{ file.externalURL === true ? '_blank' : '_self' }}"
                >
                  <img
                    *ngIf="file.previewImage"
                    [src]="file.previewImage"
                    [alt]="file.text"
                    [title]="file.text"
                  />
                  <span *ngIf="!file.previewImage">{{ file.text }}</span>
                </a>
                <div class="uk-margin">
                  <b>Tipo:</b>
                  &nbsp;
                  <span>{{ file.type }}</span>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </ng-template>
</div>
<ng-template #loaderT> <h2>Cargando...</h2> </ng-template>
<ng-template #notFoundT><h2>No hay datos</h2> </ng-template>
