<ng-template
  let-currentFile
  [ngTemplateOutletContext]="{ $implicit: currentFile | async }"
  [ngTemplateOutlet]="currentFileT"
  #currentFileT
>
  <div *ngIf="currentFile">
    <ul class="uk-breadcrumb">
      <li>
        <a (click)="onBackFile(currentFile)">Atrás</a>
      </li>
      <li>
        <span>{{ currentFile.title || '--' }}</span>
      </li>
    </ul>
  </div>
</ng-template>

<div *ngIf="(files | async) && ObjectKeys(files | async).length > 0">
  <mat-accordion>
    <mat-expansion-panel
      role="file"
      *ngFor="let key of ObjectKeys(files | async)"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <ng-template
          let-file
          [ngTemplateOutletContext]="{ $implicit: files | async }"
          [ngTemplateOutlet]="fileT"
          #fileT
        >
          <mat-panel-title> {{ file[key].title || '--' }} </mat-panel-title>
          <mat-panel-description>
            {{ file[key].createdAt | date }}
          </mat-panel-description>
        </ng-template>
      </mat-expansion-panel-header>
      <div>
        <ng-template
          let-file
          [ngTemplateOutletContext]="{ $implicit: files | async }"
          [ngTemplateOutlet]="fileDetailT"
          #fileDetailT
        >
          <div align="right" class="uk-margin-small">
            <span *ngIf="filter === 'enabled'">
              <a
                *ngIf="file[key].type === 'folder'"
                [routerLink]="[
                  '/admin/file/list/enabled/',
                  file[key].currentPath
                ]"
                class="uk-text-success"
                >Archivos</a
              >
              &nbsp;
              <a
                [routerLink]="[
                  '/admin/file/form/edit-' +
                    (file[key].type === 'folder' ? file[key].type : 'file'),
                  file[key].currentPath
                ]"
                class="uk-text-primary"
                >Editar</a
              >
              &nbsp;
              <!-- <span
                *ngIf="file[key].blocked"
                class="uk-text-warning uk-text-bold"
                >{{ file[key].blocked ? 'Blocked' : '' }}</span
              >
              <a
                class="uk-text-warning"
                (click)="onBlockFile(file[key].currentPath, file[key])"
                *ngIf="!file[key].blocked"
                >Bloquear</a
              >
              &nbsp; -->
              <span
                *ngIf="file[key].deleted"
                class="uk-text-warning uk-text-bold"
                >{{ file[key].deleted ? 'Deleted' : '' }}</span
              >
              <a
                class="uk-text-danger"
                (click)="onDeleteFile('|deleted|' + file[key].uid, file[key])"
                *ngIf="!file[key].deleted"
                >Eliminar</a
              >
            </span>
            <span *ngIf="filter === 'blocked'">
              <a
                class="uk-text-warning uk-text-bold"
                (click)="onUnBlockFile('|enabled|' + file[key].uid, file[key])"
                >Desbloquear</a
              >
            </span>
            <span *ngIf="filter === 'deleted'">
              <a
                class="uk-text-danger uk-text-bold"
                (click)="onUnBlockFile('|enabled|' + file[key].uid, file[key])"
                >Recuperar</a
              >
            </span>
          </div>
          <div *ngIf="file[key].type !== 'folder'">
            <img
              [src]="file[key].url"
              [alt]="file[key].title"
              [title]="file[key].title"
            />
            <div class="uk-margin">
              <b>Tipo:</b>
              &nbsp;
              <span>{{ file[key].type }}</span>
            </div>
          </div>
        </ng-template>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div
  *ngIf="
    !(files | async) ||
    ((files | async) && ObjectKeys(files | async).length === 0)
  "
>
  <h2>Not found data</h2>
</div>

<!-- <div *ngIf="currentFile">
  <ul class="uk-breadcrumb">
    <li>
      <a (click)="onBackFile(currentFile)">Atrás</a>
    </li>
    <li>
      <span>{{ currentFile.title || 'Vacio' }}</span>
    </li>
  </ul>
</div>

<div align="right">
  <div class="uk-inline">
    <button mat-raised-button color="primary">
      Nuevo
    </button>
    <div uk-dropdown="mode: click" class="uk-padding-remove">
      <mat-nav-list>
        <a
          href="javascript:;"
          (click)="onAddFile('folder', currentFile)"
          mat-list-item
        >
          Folder
        </a>

        <a
          href="javascript:;"
          (click)="onAddFile('file', currentFile)"
          mat-list-item
        >
          Archivo
        </a>
      </mat-nav-list>
    </div>
  </div>
</div>
<br />
<div *ngIf="(fileList | async)">
  <div *ngIf="(fileList | async).length > 0">
    <mat-accordion>
      <mat-expansion-panel
        role="file"
        *ngFor="let file of (fileList | async); let i = index"
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> {{ file.title }} </mat-panel-title>
          <mat-panel-description>
            {{ file.createdAt | date }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
          <div align="right" class="uk-margin-small">
            <span *ngIf="file.type === 'folder'">
              <a
                [routerLink]="['/admin/file/list/' + (filter || ''), file.currentPath]"
                class="uk-text-success"
                >Archivos</a
              >
              &nbsp;
            </span>
            <a
              [routerLink]="[
                '/admin/file/form/edit-' +
                  (file.type === 'folder' ? file.type : 'file'),
                file.currentPath
              ]"
              class="uk-text-primary"
              >Edit</a
            >
            &nbsp;
            <span *ngIf="file.blocked" class="uk-text-warning uk-text-bold">{{
              file.blocked ? 'Blocked' : ''
            }}</span>
            <a
              class="uk-text-warning"
              (click)="onBlockFile(file)"
              *ngIf="!file.blocked"
              >Block</a
            >
            &nbsp;
            <span *ngIf="file.deleted" class="uk-text-danger uk-text-bold">{{
              file.deleted ? 'Deleted' : ''
            }}</span>
            <a
              [routerLink]="['/admin/trash']"
              class="uk-text-danger"
              (click)="onDeleteFile(file)"
              *ngIf="!file.deleted"
              >Delete</a
            >
          </div>
          <div *ngIf="file.type !== 'folder'">
            <img [src]="file.url" [alt]="file.title" [title]="file.title" />
            <div class="uk-margin">
              <b>Tipo:</b>
              &nbsp;
              <span>{{ file.type }}</span>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div *ngIf="(fileList | async).length <= 0"><h2>Not found data</h2></div>
</div>
<div *ngIf="!(fileList | async)"><h2>Not found data</h2></div> -->
