<td-message
  *ngIf="message.show"
  [label]="message.label"
  [sublabel]="message.sublabel"
  [color]="message.color"
  [icon]="message.icon"
  class="uk-margin"
></td-message>

<div
  *ngIf="
    filter === 'add-file' ||
    filter === 'add-folder' ||
    filter === 'edit-file' ||
    filter === 'edit-folder'
  "
>
  <ng-template
    let-item
    [ngTemplateOutletContext]="{ $implicit: file }"
    [ngTemplateOutlet]="fileT"
    #fileT
  >
    <h3>
      {{
        filter === 'add-file' || filter === 'add-folder'
          ? 'Agregando'
          : filter === 'edit-file' || filter === 'edit-folder'
          ? 'Editando'
          : ''
      }}
      {{
        filter === 'add-file' || filter === 'edit-file'
          ? 'archivo'
          : 'carpeta'
      }}
      de
      {{ item ? item.text : 'Principal' }}
    </h3>
  </ng-template>
</div>

<tnt-barn-form
  [formGroup]="form"
  (submitting)="onSubmitting($event)"
  (submitted)="onSubmitted($event)"
>
  <div *ngIf="filter === 'add-file' || filter === 'edit-file'">
    <app-file-upload
      [imageURL]="file && file.url"
      allowed_extensions="*"
      (filesChanged)="onFilesChanged($event)"
    >
      <div><mat-icon>cloud_upload</mat-icon></div>
      <p>Arrastre su foto de perfíl aquí.</p>
      <div align="center">
        <button mat-raised-button>Seleccionar</button>
      </div>
    </app-file-upload>
  </div>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #text
      placeholder="Título"
      id="text"
      name="text"
      formControlName="text"
    />
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-card-actions align="right" class="uk-margin-small">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="submitted"
    >
      Save
    </button>
  </mat-card-actions>
</tnt-barn-form>
