<td-message
  *ngIf="message.show"
  [label]="message.label"
  [sublabel]="message.sublabel"
  [color]="message.color"
  [icon]="message.icon"
  class="uk-margin"
></td-message>

<div
  *ngIf="
    filter === 'add-file' ||
    filter === 'add-folder' ||
    filter === 'edit-file' ||
    filter === 'edit-folder'
  "
>
  <ng-template
    let-item
    [ngTemplateOutletContext]="{ $implicit: file }"
    [ngTemplateOutlet]="fileT"
    #fileT
  >
    <h3>
      {{
        filter === 'add-file' || filter === 'add-folder'
          ? 'Agregando'
          : filter === 'edit-file' || filter === 'edit-folder'
          ? 'Editando'
          : ''
      }}
      {{
        filter === 'add-file' || filter === 'edit-file' ? 'archivo' : 'carpeta'
      }}
      de
      {{ item ? item.text : 'Principal' }}
    </h3>
  </ng-template>
</div>

<tnt-barn-form
  [formGroup]="form"
  (submitting)="onSubmitting($event)"
  (submitted)="onSubmitted($event)"
>
  <div *ngIf="filter === 'add-file' || filter === 'edit-file'">
    <app-file-upload
      [imageURL]="file && file.url"
      allowed_extensions="*"
      (filesChanged)="onFilesChanged($event)"
    >
      <div><mat-icon>cloud_upload</mat-icon></div>
      <p>Arrastre su foto de perfíl aquí.</p>
      <div align="center">
        <button mat-raised-button>Seleccionar</button>
      </div>
      <ng-template
        let-fileUploaded
        [ngTemplateOutletContext]="{ $implicit: fileUploaded | async }"
        [ngTemplateOutlet]="fileUploadedT"
        #fileUploadedT
      >
        <ng-template
          let-uploadPercent
          [ngTemplateOutletContext]="{
            $implicit: fileUploaded?.percent | async
          }"
          [ngTemplateOutlet]="uploadPercentT"
          #uploadPercentT
        >
          <mat-form-field class="uk-width-1-1">
            <input matInput formControlName="url" class="uk-hidden" />
            <mat-hint
              align="end"
              [ngClass]="{
                'uk-text-warning': ((uploadPercent || 0) < 100),
                'uk-text-emphasis': (uploadPercent || 0) >= 100
              }"
              >
              {{ (uploadPercent | number:'1.0-0') || 0 }}%
            </mat-hint>
          </mat-form-field>
          <mat-progress-bar
            mode="determinate"
            [value]="uploadPercent"
          ></mat-progress-bar>

          <div *ngIf="uploadPercent >= 100 || file && file.url" class="uk-text-center">
            <a href="javascript:;" class="uk-text-success" (click)="goTo(file.url || f.url.value, $event)">Archivo subido</a>
          </div>
        </ng-template>
      </ng-template>
    </app-file-upload>
  </div>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #name
      placeholder="Nombre"
      id="name"
      name="name"
      formControlName="name"
    />
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-card-actions align="right" class="uk-margin-small">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="submitted"
    >
      Guardar
    </button>
  </mat-card-actions>
</tnt-barn-form>
