<td-message
  *ngIf="message.show"
  [label]="message.label"
  [sublabel]="message.sublabel"
  [color]="message.color"
  [icon]="message.icon"
  class="uk-margin"
></td-message>

<div *ngIf="filter === 'add-file' || filter === 'add-folder'">
  <ng-template
    let-item
    [ngTemplateOutletContext]="{ $implicit: file | async }"
    [ngTemplateOutlet]="fileT"
    #fileT
  >
    <button (click)="prueba(item)">Prueba</button>
  
    <h3>
      Agregando {{ filter === 'add-file' ? 'archivo' : 'sub carpeta' }} en
      {{ item ? item.title : 'Principal' }}
    </h3>
  </ng-template>
</div>

<tnt-barn-form
  [formGroup]="form"
  (submitting)="onSubmitting($event)"
  (submitted)="onSubmitted($event)"
>
  <div *ngIf="filter === 'add-file' || filter === 'edit-file'">
    <app-file-upload
      [imageURL]="file && file.url"
      allowed_extensions="*"
      (filesChanged)="onFilesChanged($event)"
    >
      <div><mat-icon>cloud_upload</mat-icon></div>
      <p>Arrastre su foto de perfíl aquí.</p>
      <div align="center">
        <button mat-raised-button>Seleccionar</button>
      </div>
    </app-file-upload>
  </div>

  <mat-form-field class="uk-width-1-1 uk-margin-small">
    <input
      matInput
      #title
      placeholder="Título"
      id="title"
      name="title"
      formControlName="title"
    />
  </mat-form-field>

  <mat-divider></mat-divider>

  <mat-card-actions align="right" class="uk-margin-small">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="submitted"
    >
      Save
    </button>
  </mat-card-actions>
</tnt-barn-form>
