.dropzone {
  cursor: pointer;
  width: 100%;
  display: table;
  width: 100%;
  border: dashed 5px #5f5f5f;
  color: #5f5f5f;
  background-color: #eee;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: contain !important;
}

.text-wrapper {
  vertical-align: middle;
}

.overlay {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
}

.centered {
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}
