.corpayande {
  .uk-section-primary {
    background: #8aca7b;
    color: #111111;
  }
  .uk-background-primary {
    background-color: #8aca7b;
    color: #111111;
  }
  .uk-section-muted {
    background: #dd127b;
    color: white;
  }
  .uk-background-muted {
    background-color: #dd127b;
    color: white;
  }
}
