.teatro-juete {
  .uk-section-primary {
    background: #324592;
    color: rgba($color: #ffffff, $alpha: .7);
  }
  .uk-background-primary {
    background-color: #324592;
    color: rgba($color: #ffffff, $alpha: .7);
  }
  .uk-section-muted {
    background: #f8f8f8;
    color: #666666;
  }
  .uk-background-muted {
    background-color: #f8f8f8;
    color: #666666;
  }
}
