.uk-navbar-container:not(.uk-navbar-transparent) {
  background-color: #fff;
  -webkit-box-shadow: 0px 0 50px 0 rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0 50px 0 rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0 50px 0 rgba(0, 0, 0, 0.75);
}
