<app-layout-admin>
  <div flex-gt-sm="100">
    <div class="uk-container">
      <mat-card>
        <mat-card-title>Formulario</mat-card-title>
        <mat-card-subtitle>módulo de uso para menú</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
          <app-menu-form
            [filter]="filter"
            [value]="value"
            [menu]="menu | async"
          ></app-menu-form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-layout-admin>
