<ng-template
  let-currentMenu
  [ngTemplateOutletContext]="{ $implicit: currentMenu | async }"
  [ngTemplateOutlet]="currentMenuT"
  #currentMenuT
>
  <div *ngIf="currentMenu">
    <ul class="uk-breadcrumb">
      <li>
        {{ currentMenu.backPath }}
        <a [routerLink]="['/admin/menu/enabled/list', currentMenu.backPath]"
          >Atrás</a
        >
      </li>
      <li>
        <span>{{ currentMenu.name || '--' }}</span>
      </li>
    </ul>
  </div>
</ng-template>

<div *ngIf="(menus | async); else loaderT">
  <ng-template
    let-menuList
    [ngTemplateOutletContext]="{ $implicit: menus | async }"
    [ngTemplateOutlet]="menusT"
    #menusT
  >
    <div *ngIf="menuList; else loaderT">
      <div *ngIf="menuList.length > 0; else notFoundT">
        <mat-accordion>
          <mat-expansion-panel
            role="menus"
            *ngFor="let menu of menuList"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> {{ menu.name || '--' }} </mat-panel-title>
              <mat-panel-description>
                {{ menu.createdAt.toDate() | date }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <div align="right" class="uk-margin-small">
                <span *ngIf="filter === 'list'">
                  <a
                    [routerLink]="['/admin/menu/enabled/list', menu.customPath]"
                    class="uk-text-success"
                    >Sub menú</a
                  >
                  &nbsp;
                  <a
                    [routerLink]="[
                      '/admin/menu/form/edit-' +
                        (menu.type === 'folder' ? menu.type : 'menu'),
                      menu.customPath
                    ]"
                    class="uk-text-primary"
                    >Editar</a
                  >
                  &nbsp;
                  <!-- <span
                *ngIf="menu.blocked"
                class="uk-text-warning uk-text-bold"
                >{{ menu.blocked ? 'Blocked' : '' }}</span
              >
              <a
                class="uk-text-warning"
                (click)="onBlockmenu(menu.customPath, menu)"
                *ngIf="!menu.blocked"
                >Bloquear</a
              >
              &nbsp; -->
                  <span
                    *ngIf="menu.deleted"
                    class="uk-text-warning uk-text-bold"
                    >{{ menu.deleted ? 'Eliminado' : '' }}</span
                  >
                  <a
                    class="uk-text-danger"
                    (click)="onDeleteMenu(menu)"
                    *ngIf="!menu.deleted"
                    >Eliminar</a
                  >
                </span>
                <span *ngIf="filter === 'blocked'">
                  <a
                    class="uk-text-warning uk-text-bold"
                    (click)="onUnBlockMenu('|enabled|' + menu.uuid, menu)"
                    >Desbloquear</a
                  >
                </span>
                <span *ngIf="filter === 'deleted'">
                  <a
                    class="uk-text-danger uk-text-bold"
                    (click)="onUnBlockMenu('|enabled|' + menu.uuid, menu)"
                    >Recuperar</a
                  >
                </span>
              </div>
              <div *ngIf="menu.type !== 'folder'">
                <div class="uk-margin">
                  <b>URL:</b>
                  &nbsp;
                  <span>
                    <a
                      [href]="menu.url"
                      target="_blank"
                      [title]="menu.text"
                    >
                      {{ menu.url }}
                    </a></span
                  >
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </ng-template>
</div>
<ng-template #loaderT> <h2>Cargando...</h2> </ng-template>
<ng-template #notFoundT><h2>No hay datos</h2> </ng-template>
