<app-layout-default>
  <!-- USERS -->

  <app-uk-modal id="user-list" class="uk-modal-container" uk-modal>
    <div>
      <button class="uk-modal-close-full" type="button" uk-close></button>
      <div class="uk-margin-medium-top" uk-height-viewport>
        <div class="uk-flex uk-flex-right">
          <a href="/user/list" target="_blank">
            <mat-icon>launch</mat-icon>
          </a>
        </div>
        <app-user-list></app-user-list>
      </div>
    </div>
  </app-uk-modal>

  <!-- /USERS -->

  <h1>Welcome!</h1>
</app-layout-default>
