<div>
  <ng-template
    let-slideList
    [ngTemplateOutletContext]="{ $implicit: slides | async }"
    [ngTemplateOutlet]="slidesT"
    #slidesT
  >
    <div
      *ngIf="slideList && slideList.length > 0"
      class="uk-position-relative uk-visible-toggle uk-light"
      tabindex="-1"
      uk-slideshow="animation: scale; autoplay: true; autoplay-interval: 5000; min-height: 300; max-height: 400"
    >
      <ul class="uk-slideshow-items">
        <li
          *ngFor="let slide of slideList"
          (click)="goTo(slide)"
          [title]="slide.text"
        >
          <div
            [ngStyle]="{
              cursor: slide.url ? 'pointer' : 'normal',
              backgroundImage: 'url(' + slide.image + ')'
            }"
            class="background-image-blur uk-background-secondary uk-background-blend-multiply uk-position-center uk-background-cover uk-background-center-center"
          ></div>
          <div
            class="uk-position-center uk-background-primary"
            style="height: 400px"
          >
            <img [src]="slide.image" [alt]="slide.text" style="height: 400px" />
          </div>
          <div>
            <div
              *ngIf="
                (slide.text && slide.text !== '') ||
                (slide.subtitle && slide.subtitle !== '')
              "
              class="uk-overlay uk-overlay-primary uk-position-bottom"
            >
              <p>
                {{ slide.text }}
                <br />
                <span class="uk-text-meta">{{ slide.subtitle }}</span>
              </p>
            </div>
          </div>
        </li>
      </ul>

      <a
        class="uk-position-center-left uk-position-small uk-hidden-hover"
        href="javascript:;"
        uk-slidenav-previous
        uk-slideshow-item="previous"
      ></a>
      <a
        class="uk-position-center-right uk-position-small uk-hidden-hover"
        href="javascript:;"
        uk-slidenav-next
        uk-slideshow-item="next"
      ></a>

    </div>
  </ng-template>
</div>
