<ng-template
  let-currentPage
  [ngTemplateOutletContext]="{ $implicit: currentPage | async }"
  [ngTemplateOutlet]="currentPageT"
  #currentPageT
>
  <div *ngIf="currentPage">
    <ul class="uk-breadcrumb">
      <li>
        <a [routerLink]="['/admin/page/enabled/list', currentPage.backPath]"
          >Atrás</a
        >
      </li>
      <li>
        <span>{{ currentPage.name || '--' }}</span>
      </li>
    </ul>
  </div>
</ng-template>

<div *ngIf="(pages | async); else loaderT">
  <ng-template
    let-pageList
    [ngTemplateOutletContext]="{ $implicit: pages | async }"
    [ngTemplateOutlet]="pagesT"
    #pagesT
  >
    <div *ngIf="pageList; else loaderT">
      <div *ngIf="pageList.length > 0; else notFoundT">
        <mat-accordion>
          <mat-expansion-panel
            role="page"
            *ngFor="let page of pageList"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <mat-expansion-panel-header>
              <mat-panel-title> {{ page.name || '--' }} </mat-panel-title>
              <mat-panel-description>
                {{ page.createdAt.toDate() | date }}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div>
              <div align="right" class="uk-margin-small">
                <span *ngIf="filter === 'list'">
                  <a
                    *ngIf="page.type === 'folder'"
                    [routerLink]="['/admin/page/enabled/list', page.customPath]"
                    class="uk-text-success"
                    >Archivos</a
                  >
                  &nbsp;
                  <a
                    [routerLink]="[
                      '/admin/page/form/edit-page',
                      page.customPath
                    ]"
                    class="uk-text-primary"
                    >Editar</a
                  >
                  &nbsp;
                  <!-- <span
                *ngIf="page.blocked"
                class="uk-text-warning uk-text-bold"
                >{{ page.blocked ? 'Blocked' : '' }}</span
              >
              <a
                class="uk-text-warning"
                (click)="onBlockpage(page.customPath, page)"
                *ngIf="!page.blocked"
                >Bloquear</a
              >
              &nbsp; -->
                  <span
                    *ngIf="page.deleted"
                    class="uk-text-warning uk-text-bold"
                    >{{ page.deleted ? 'Eliminado' : '' }}</span
                  >
                  <a
                    class="uk-text-danger"
                    (click)="onDeletePage(page)"
                    *ngIf="!page.deleted"
                    >Eliminar</a
                  >
                </span>
                <span *ngIf="filter === 'blocked'">
                  <a
                    class="uk-text-warning uk-text-bold"
                    (click)="onUnBlockPage('|enabled|' + page.uuid, page)"
                    >Desbloquear</a
                  >
                </span>
                <span *ngIf="filter === 'deleted'">
                  <a
                    class="uk-text-danger uk-text-bold"
                    (click)="onUnBlockPage('|enabled|' + page.uuid, page)"
                    >Recuperar</a
                  >
                </span>
              </div>
              <div *ngIf="page.type !== 'folder'">
                <a
                  [href]="page.url"
                  target="{{ page.externalURL === true ? '_blank' : '_self' }}"
                >
                  <img
                    *ngIf="page.image"
                    [src]="page.image"
                    [alt]="page.text"
                    [title]="page.text"
                  />
                  <span *ngIf="!page.image">{{ page.text }}</span>
                </a>
                <div class="uk-margin">
                  <b>Color del tema:</b>
                  &nbsp;
                  <span>{{ page.theme.color }}</span>
                </div>
                <div class="uk-margin">
                  <b>Tipo:</b>
                  &nbsp;
                  <span>{{ page.type }}</span>
                </div>
                <div class="uk-margin">
                  <b>URL:</b>
                  &nbsp;
                  <span>{{ page.url }}</span>
                </div>
                <div class="uk-margin">
                  <b>Descripción:</b>
                  &nbsp;
                  <span>{{ page.description }}</span>
                </div>
                <div class="uk-margin">
                  <b>Keywords:</b>
                  &nbsp;
                  <span>{{ page.keywords }}</span>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </ng-template>
</div>
<ng-template #loaderT> <h2>Cargando...</h2> </ng-template>
<ng-template #notFoundT><h2>No hay datos</h2> </ng-template>
