<ng-template
  let-currentFile
  [ngTemplateOutletContext]="{ $implicit: currentFile | async }"
  [ngTemplateOutlet]="currentFileT"
  #currentFileT
>
  <div *ngIf="currentFile">
    <ul class="uk-breadcrumb">
      <li>
        <a [routerLink]="['/files/list', currentFile.backPath]">Atrás</a>
      </li>
      <li>
        <span>{{ currentFile.name || '--' }}</span>
      </li>
    </ul>
  </div>
</ng-template>

<div *ngIf="(files | async); else loaderT">
  <ng-template
    let-fileList
    [ngTemplateOutletContext]="{ $implicit: files | async }"
    [ngTemplateOutlet]="filesT"
    #filesT
  >
    <div *ngIf="fileList; else loaderT">
      <div *ngIf="fileList.length > 0; else notFoundT">
        <div class="uk-child-width-1-4 uk-grid-small uk-text-center" uk-grid>
          <div
            role="file"
            *ngFor="let file of fileList"
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
            <span *ngIf="file.type === 'folder'">
              <a [routerLink]="['/files/list', file.customPath]">
                <mat-icon aria-hidden="false"
                  >folder_open</mat-icon
                >
                <div>{{ file.text }}</div>
              </a>
            </span>
            <span *ngIf="file.type !== 'folder'">
              <a [href]="file.url" target="_blank">
                <mat-icon aria-hidden="false"
                  >insert_drive_file</mat-icon
                >
                <div>{{ file.text }}</div>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
<ng-template #loaderT> <h2>Cargando...</h2> </ng-template>
<ng-template #notFoundT><h2>No hay archivos</h2> </ng-template>
