<app-layout-admin>
  <div flex-gt-sm="100">
    <div class="uk-container">
      <mat-card>
        <mat-card-title>Formulario</mat-card-title>
        <mat-card-subtitle>módulo de uso para usuarios</mat-card-subtitle>
        <mat-divider></mat-divider>
        <mat-card-content>
          <app-user-form
            [filter]="filter"
            [value]="value"
            [user]="user"
          ></app-user-form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</app-layout-admin>
